button {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13.5px;
    padding-right: 13.5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:hover {
    opacity: 0.815;
}