p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.price {
    font-size: 25px;
    margin-bottom: 5px;
}

.usd {
    font-size: 15px;
    color: grey;
}

.change {
    color: green;
    margin-bottom: 5px;
}

.after-hours {
    color: grey;
}

.after-hours-change {
    color: red;
}