.email {
    color: rgba(84, 72, 72, 0.849);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 8px;
    font-size: 19px;
}

.search-bar {
    width: 365px;
    font-size: 24px;
    border-radius: 3px;
    border-style: solid;
}

.Policy {
    font-size: 16px;
    color: rgba(84, 72, 72, 0.849);
}

.agree-button {
    
}